---
import Title from './Title.astro'
import type { IBlog } from '../types/blogs-type'

interface Props {
  blog?: IBlog
}

const { blog } = Astro.props
---

<section class="mx-auto space-y-10 md:space-y-10 w-[350px] md:w-[500px] lg:w-auto md:max-w-5xl bg-white shadow-lg rounded-lg p-5 lg:p-10 mt-10">
  <div class="space-y-5">
    <h2
      transition:name={`title-blog-${blog?.id}-${blog?.slug}`}
      class="text-3xl md:text-4xl lg:text-5xl text-center text-hf font-extrabold mb-2"
    >{blog?.title}</h2>

    <h4
      transition:name={`subtitle-blog-${blog?.id}-${blog?.slug}`}
      class="text-lg md:text-xl text-center text-zinc-800 font-bold"
    >{blog?.subtitle}</h4>
  </div>

  <div class="space-y-10 lg:space-y-20">
    <section class="space-y-5">
      <div>
        <img
          src={blog?.images[0]}
          alt={`Imagen de descripción de ${blog?.title}`}
          transition:name={`image-blog-${blog?.id}-${blog?.slug}`}
          class="w-full h-[400px] object-cover rounded-lg shadow-lg"
        >
      </div>

      <div class=" space-y-10">
        <p class="text-pretty">{blog?.desc1}</p>
      </div>
    </section>

    <section class="flex flex-col lg:flex-row gap-5 lg:gap-10">
      <div class="mx-auto lg:w-1/2">
        <img
          src={blog?.images[1]}
          alt={`Imagen de descripción de ${blog?.title}`}
          class="w-full h-full object-cover rounded-lg shadow-lg"
        >
      </div>

      <div class="mx-auto lg:w-1/2 space-y-10">
        <p class="text-pretty">{blog?.desc2}</p>
      </div>
    </section>

    <section class="flex flex-col lg:flex-row gap-5 lg:gap-10">
      <div class="mx-auto lg:w-1/2 space-y-10">
        <p class="text-pretty">{blog?.desc3}</p>
        <p class="text-pretty">{blog?.desc4}</p>
        <p class="text-pretty">{blog?.desc5}</p>
      </div>

      <div class="mx-auto lg:w-1/2">
        <img
          src={blog?.images[2]}
          alt={`Imagen de descripción de ${blog?.title}`}
          class="w-full h-full object-cover rounded-lg shadow-lg"
        >
      </div>
    </section>

    <p class="text-pretty">{blog?.desc6}</p>
  </div>
</section>
