---
import { Image } from 'astro:assets'
import { blogs } from '../data/blogs'
const getTwoBlogs = blogs.slice(0, 2)
---

<section
  class="mx-auto mt-10 grid w-[350px] max-w-5xl grid-cols-1 md:w-[500px] lg:w-auto lg:grid-cols-2"
>
  {
    getTwoBlogs.map((blog) => (
      <a href={`blogs/${blog.slug}`}>
        <div class="flex gap-2 rounded-lg bg-white p-5 shadow-lg transition-all ease-in-out hover:scale-110">
          <section class="lg:w-1/2">
            <h2
              transition:name={`title-blog-${blog.id}-${blog.slug}`}
              class="mb-2 text-2xl font-bold"
            >
              {blog.title}
            </h2>

            <p
              transition:name={`subtitle-blog-${blog.id}-${blog.slug}`}
              class="text-gray-600"
            >
              {blog.subtitle}
            </p>
          </section>

          <section class="lg:w-1/2">
            <Image
              src={blog.images[0]}
              alt={blog.title}
              transition:name={`image-blog-${blog.id}-${blog.slug}`}
              width={500}
              height={500}
              class="w-full rounded-lg"
            />
          </section>
        </div>
      </a>
    ))
  }
</section>
