---
import { Image } from 'astro:assets'
import BackButton from '../svg/BackButton.astro'
import WhatsAppIcon from '../svg/WhatsAppIcon.astro'
import type { IDogs } from '../types/dogs-type'

interface Props {
  dog?: IDogs
}

const { dog } = Astro.props
---

<section class="fixed left-0 top-0 -z-0 h-[1000px] w-full lg:h-full">
  <Image
    src="https://res.cloudinary.com/djfzw255d/image/upload/v1711168350/Huellitas%20Felices/gtyqtolkinr0wmnj6qbh.jpg"
    alt="Huellitas Felices"
    width={1920}
    height={1080}
    class="-z-0 h-full w-full object-cover opacity-10"
  />
</section>

<section
  class="mx-auto mt-20 flex max-w-5xl flex-col items-center justify-center gap-4 xl:flex-row"
>
  <div
    class="z-10 w-[350px] rounded-lg bg-white p-10 shadow-lg md:w-[700px] lg:h-[750px] xl:w-1/2"
  >
    <Image
      src={dog?.imagen || ''}
      alt={dog?.nombre || ''}
      width={500}
      height={500}
      transition:name={`dog-image-${dog?.id}-${dog?.slug}`}
      class="mx-auto h-full w-full rounded-lg object-cover"
    />
  </div>

  <div
    class="relative z-10 w-[350px] space-y-10 rounded-lg bg-white p-10 shadow-lg md:w-[700px] lg:h-[750px] xl:w-1/2"
  >
    <section class="absolute left-10 top-8 z-20">
      <a href="/pets/dogs">
        <BackButton />
      </a>
    </section>

    <section>
      <h2
        transition:name={`dog-name-${dog?.id}-${dog?.slug}`}
        class="text-center text-5xl font-extrabold text-hf lg:text-6xl"
      >
        {dog?.nombre}
      </h2>
    </section>

    <section class="space-y-1 border-b-2 border-t-2 border-zinc-300 py-10">
      <p class="font-bold">
        Raza de la Mascota: <span class="font-normal">{dog?.raza}</span>
      </p>

      <p class="font-bold">
        Edad de la Mascota: <span class="font-normal">{dog?.edad}</span>
      </p>

      <p class="font-bold">
        Sexo de la Mascota: <span class="font-normal">{dog?.sexo}</span>
      </p>

      <p class="font-bold">
        Tamaño de la Mascota: <span class="font-normal">{dog?.tamano}</span>
      </p>

      <p class="font-bold">
        Vacunas de la Mascota: <span class="font-normal">{dog?.vacunas}</span>
      </p>

      <p class="font-bold">
        Estirilización: <span class="font-normal">{dog?.esterilizacion}</span>
      </p>

      <p class="font-bold">
        Enfermedades: <span class="font-normal">{dog?.enfermedades}</span>
      </p>

      <p class="font-bold">
        Necesidades de {dog?.nombre}: <span class="font-normal"
          >{dog?.necesidades}</span
        >
      </p>

      <p class="font-bold">
        Descripción: <span class="font-normal">{dog?.descripcion}</span>
      </p>
    </section>

    <section>
      <h4 class="mb-10 text-center text-xl font-bold text-hf">
        ¿Estás Interesado/a en {dog?.nombre}?
      </h4>

      <a
        href="#"
        class="flex w-full items-center justify-center gap-1 rounded-lg bg-green-500 py-2 text-center text-lg font-bold text-white duration-300 ease-in-out hover:scale-105"
      >
        ¡Contáctanos!
        <WhatsAppIcon />
      </a>
    </section>
  </div>
</section>
