---
import { Image } from 'astro:assets'
import { dogs } from '../data/dogs'
---

<section class="mx-auto max-w-5xl grid gap-y-5 grid-cols-1 md:grid-cols-3 lg:grid-cols-4 mt-10">
  {
    dogs.map(dog => (
      <div class="mx-auto w-[350px] md:w-[250px] lg:w-[250px] bg-white shadow-lg rounded-lg px-3 py-2">
        <Image
          src={dog.imagen}
          alt={`Imagen de ${dog.nombre}`}
          width={250}
          height={250}
          transition:name={`dog-image-${dog.id}-${dog.slug}`}
          class="w-full h-80 object-cover rounded-lg"
        />
        <h3
          transition:name={`dog-name-${dog.id}-${dog.slug}`}
          class="text-2xl text-center font-bold"
        >{dog.nombre}</h3>
        <p class="text-center">Edad: {dog.edad}</p>
        <p class="text-center">Sexo: {dog.sexo}</p>

        <div class="flex justify-center items-center gap-4 mt-5">
          <a
            href={`/pets/dogs/${dog.slug}`}
            class="bg-hf text-white px-3 py-1 rounded-lg hover:bg-hf/70 transition-all duration-300"
          >
            Más Información
          </a>
        </div>
      </div>
    ))
  }
</section>
